# LLM Provider API Keys
OPENAI_API_KEY= # for CLI testing only - not required if not running tests
ANTHROPIC_API_KEY= # for CLI testing only - not required if not running tests

# Plugin Registry
ELIZA_PLUGIN_REGISTRY_URL=https://github.com/elizaos-plugins/registry/blob/main/index.json
